<a href="https://colab.research.google.com/github/sid9935rane/CA1_Assignment_10622113/blob/main/CA1_Programming_with_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World")

Hello World

Install the Packages

In [2]:
pip install requests

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests) (2022.9.24)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests) (1.24.3)

In [3]:
pip install html5lib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: html5lib in /usr/local/lib/python3.8/dist-packages (1.0.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib) (1.15.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib) (0.5.1)

In [4]:
pip install bs4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: bs4 in /usr/local/lib/python3.8/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (from bs4) (4.6.3)

In [1]:
import requests

In [2]:
from bs4 import BeautifulSoup

In [3]:
url = 'https://www.oyorooms.com/api/pwa/search/hotels?fields=id%2Cname%2Ccity%2Cstreet%2Ccategory%2Cgeo_location%2Ccategory%2Chotel_type%2Calternate_name%2Ccountry_name%2Ccountry_id%2Cshort_address%2Caddress%2Chotel_name_without_category%2Ccategorywise_images%2Ccategory_wise_media%2Ccategory_availability%2Cexternal_booking_url%2Cstatus&additional_fields=hotel_badge%2Ccategory_info%2Ccancellation_policies%2Cbest_image%2Croom_pricing%2Cavailability%2Camenities%2Crestrictions%2Ccategory%2Ccaptains_info%2Cnew_applicable_filters%2Cadditional_charge_info%2Cimages%2Chotel_images%2Ccollection_filtered_count%2Cpopular_location_range%2Cguest_ratings%2Coyo_wizard%2Curgency_info%2Coyo_owner_discount%2Ccategory_wise_pricing&tax_exclusive_pricing=true&available_room_count%5Bcheckin%5D=13%2F12%2F2022&available_room_count%5Bcheckout%5D=14%2F12%2F2022&available_room_count%5Bmin_count%5D=1&filters%5Bcity_id%5D=585&filters%5Ball_room_categories%5D=true&pre_apply_coupon_switch=true&search_redirection_enabled=true&rooms_config=1%2C0%2C0&requested_coupon=&services=meals&source=Web%20Booking&format_response%5Bbatch%5D%5Bcount%5D=20&format_response%5Bbatch%5D%5Boffset%5D=0&format_response%5Bsort_params%5D%5Bsort_on%5D=price&format_response%5Bsort_params%5D%5Bascending%5D=true&locale=en'

In [4]:
data = 'fields=id%2Cname%2Ccity%2Cstreet%2Ccategory%2Cgeo_location%2Ccategory%2Chotel_type%2Calternate_name%2Ccountry_name%2Ccountry_id%2Cshort_address%2Caddress%2Chotel_name_without_category%2Ccategorywise_images%2Ccategory_wise_media%2Ccategory_availability%2Cexternal_booking_url%2Cstatus&additional_fields=hotel_badge%2Ccategory_info%2Ccancellation_policies%2Cbest_image%2Croom_pricing%2Cavailability%2Camenities%2Crestrictions%2Ccategory%2Ccaptains_info%2Cnew_applicable_filters%2Cadditional_charge_info%2Cimages%2Chotel_images%2Ccollection_filtered_count%2Cpopular_location_range%2Cguest_ratings%2Coyo_wizard%2Curgency_info%2Coyo_owner_discount%2Ccategory_wise_pricing&tax_exclusive_pricing=true&available_room_count%5Bcheckin%5D=13%2F12%2F2022&available_room_count%5Bcheckout%5D=14%2F12%2F2022&available_room_count%5Bmin_count%5D=1&filters%5Bcity_id%5D=585&filters%5Ball_room_categories%5D=true&pre_apply_coupon_switch=true&search_redirection_enabled=true&rooms_config=1%2C0%2C0&requested_coupon=&services=meals&source=Web%20Booking&format_response%5Bbatch%5D%5Bcount%5D=20&format_response%5Bbatch%5D%5Boffset%5D=0&format_response%5Bsort_params%5D%5Bsort_on%5D=price&format_response%5Bsort_params%5D%5Bascending%5D=true&locale=en'

In [5]:
header = {'accept': '*/*',
'accept-encoding': 'gzip, deflate',
'accept-language': 'en-GB,en;q=0.9',
'cookie': '_csrf=5ItFr1EvNo_-a_rVi9ooZZFD; acc=GB; X-Location=georegion%3D108%2Ccountry_code%3DIE%2Ccity%3DDUBLIN%2Clat%3D53.33%2Clong%3D-6.25%2Ctimezone%3DGMT%2Ccontinent%3DEU%2Cthroughput%3Dlow%2Cbw%3D1%2Cnetwork%3Dupc%2Casnum%3D6830%2Clocation_id%3D0; mab=55d5b82b54501670ff3186dc5f497b9a; appData=%7B%22userData%22%3A%7B%22isLoggedIn%22%3Afalse%7D%7D; token=dUxaRnA5NWJyWFlQYkpQNnEtemo6bzdvX01KLUNFbnRyS3hfdEgyLUE%3D; _uid=Not%20logged%20in; AMP_TOKEN=%24NOT_FOUND; _ga=GA1.2.165232236.1670895643; _gid=GA1.2.876639172.1670895643; fingerprint2=3796e00fb2b73e84c11a45b6cfd03eb7; _gcl_au=1.1.889838671.1670895645; tvc_utm_source=google; tvc_utm_medium=organic; tvc_utm_campaign=(not set); tvc_utm_key=(not set); tvc_utm_content=(not set); moe_uuid=c77a499d-6009-4fc5-a9f3-9146aacb5ebf; _fbp=fb.1.1670895646001.1597362655; _hjFirstSeen=1; _hjIncludedInSessionSample=0; _hjSession_1463432=eyJpZCI6IjU5MGZmNDNmLTAzM2YtNDFlMS04NGIxLThkYzY3ZDMyNThlZiIsImNyZWF0ZWQiOjE2NzA4OTU2NDYxMDAsImluU2FtcGxlIjpmYWxzZX0=; _hjIncludedInPageviewSample=1; _hjAbsoluteSessionInProgress=1; _hjSessionUser_1463432=eyJpZCI6IjRiYmQ0YjNmLTA4MzktNTcyZC1hNTQzLWJkYjk1OTg0MjBiNCIsImNyZWF0ZWQiOjE2NzA4OTU2NDYwOTAsImV4aXN0aW5nIjp0cnVlfQ==; cto_bundle=qrm1Y18yWUpEbGNmdzJWcW9xbDl2S3pqQ0x3Y2NVQlRVYXhYSyUyRlE3JTJGZUJoT0VNc2FtbHZ6M2pHb3pRdkVKU2lERDlIcG03MnlET2ZJa29BUEtXUFB1UWt1bk9Lc3FFZTZmdk51a0RxSTg4S1p0dHI2bkcxJTJCcVV6cGs3UWI3QWxEcGNpeg; _gat=1; _uetsid=29d8f9707a8711eda14af3812bae1402; _uetvid=29da01907a8711ed92088ff24e0e4442; expd=mww2%3A1%7Cioab%3A1%7Cmhdp%3A1%7Cbcrp%3A1%7Cpwbs%3A1%7Chsdm%3A2%7Ccomp%3A1%7Cnrmp%3A1%7Cppsi%3A0%7Cgcer%3A1%7Crecs%3A1%7Clvhm%3A1%7Cgmbr%3A1%7Cyolo%3A1%7Crcta%3A1%7Ccbot%3A1%7Cotpv%3A1%7Cndbp%3A0%7Cmapu%3A1%7Cnclc%3A0%7Cdwsl%3A1%7Ceopt%3A1%7Cotpv%3A1%7Cwizi%3A0%7Cmorr%3A1%7Cyopb%3A1%7CTTP%3A1%7Chdpn%3A1%7Cweb2%3A0%7Clog2%3A1%7Clog2%3A1%7Cugce%3A0%7Cltvr%3A0%7Chwiz%3A0%7Cwizz%3A1%7Clpcp%3A0%7Cclhp%3A0%7Cprwt%3A0%7Ccbhd%3A0%7Cins2%3A2; XSRF-TOKEN=GuxQHwte-PwF9UjVmqebDCHxX-1gAR6VUmWs',
'referer': 'https://www.oyorooms.com/search?checkin=13%2F12%2F2022&checkout=14%2F12%2F2022&city=london&filters%5Bcity_id%5D=585&guests=1&latitude=&location=london&longitude=&roomConfig=1&roomConfig%5B%5D=1&rooms=&searchType=&tag=',
'sec-ch-ua': '"Not?A_Brand";v="8", "Chromium";v="108", "Google Chrome";v="108"',
'sec-ch-ua-mobile': '?0',
'sec-ch-ua-platform': '"Windows"',
'sec-fetch-dest': 'empty',
'sec-fetch-mode': 'cors',
'sec-fetch-site': 'same-origin',
'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36',
'xsrf-token': 'GuxQHwte-PwF9UjVmqebDCHxX-1gAR6VUmWs'}

In [6]:
r = requests.post(url,data=data,headers=header)

In [ ]:
r.content

In [8]:
r

In [9]:
import json

In [11]:
rdata = json.loads(r.content)

In [12]:
hotels=rdata['hotels']

In [13]:
len(hotels)

17

In [14]:
h=[]
for i in range(0, 16):
  hotels = json.loads(requests.post(url,data=data,headers=header).content)['hotels']
  print('.',end='')
  h=h+hotels

................

In [15]:
len(h)

272

In [16]:
import pandas as pd

In [17]:
df=pd.json_normalize(h)

In [19]:
df.head()

,shortlisted,show_original_name,urgency_info_list,longitude,latitude,currency_id,selected_category_id,country_id,id,oyo_id,...,category_wise_images.283594.category_images,category_wise_images.283594.combined_images,category_wise_images.283594.hotel_images,category_wise_images.283594.best_image,category_wise_media.283594.best_media.url,category_wise_media.283594.best_media.type,category_wise_media.283594.best_media.extension,category_wise_media.283594.best_media.category,category_wise_media.283594.category_media,category_wise_media.283594.combined_media
0,False,False,[],-0.224771,51.503275,14,36,210,54366,EN_LDN059,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,False,False,[],-0.197408,51.575632,14,36,210,106636,EN_BNE001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,False,False,[],0.065732,51.563967,14,37,210,50258,EN_LDN028,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,False,False,[],-0.168496,51.517780,14,284723,210,42761,EN_LDN004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,False,False,[],-0.269641,51.513979,14,36,210,56254,EN_LDN088,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Warning: Total number of columns (613) exceeds max_columns (20) limiting to first (20) columns.